<div class="container">
    <section class="what-we-do mt-5">
        <div class="row">
            <div class="mb-3">
                <div class="content-section">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="heading">
                                <h1>WHAT<br> WE DO</h1>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content">
                                <p>We create content. Content that is backed by science and data. Content that is unique to you. That builds your brand. That engages. And converts your prospects into customers. Simply, content that works.</p>
                                <p>
                                    Our writers, designers and producers create content that helps clients achieve a wide range of business outcomes:
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="list-card my-5">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img">
                            <img src="https://quantent.in/images/generate-leads.png" alt="">
                        </div>
                        <h5 class="card-title">generate Leads</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img">
                            <img src="https://quantent.in/images/build-reputation.png" alt="">
                        </div>
                        <h5 class="card-title">Build Reputation</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img">
                            <img src="https://quantent.in/images/engage-employees.png" alt="">
                        </div>
                        <h5 class="card-title">Engage Employee</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img">
                            <img src="https://quantent.in/images/engage-employees.png" alt="">
                        </div>
                        <h5 class="card-title">generate Leads</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img">
                            <img src="https://quantent.in/images/brand-recall.png" alt="">
                        </div>
                        <h5 class="card-title">Build Reputation</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img">
                            <img src="https://quantent.in/images/convert-customers.png" alt="">
                        </div>
                        <h5 class="card-title">Engage Employee</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<section class="communication-coversion my-5 align-center">
    <div class="container">
        <div style="padding: 20px;">
            <div class="communication-heading">
                <div style="text-decoration: underline;">
                    <h3>Turns Communications into Conversion</h3>
                </div>
                <p>We Write content for your bussiness , so you can do other things</p>
            </div>
            <div class="communication-body row my-5">
                <div class="communication-card col-lg-4 col-md-6">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png" alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png" alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6 mt-4">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png" alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6 mt-4">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png" alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6 mt-4">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png" alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with search engin optimization</p>
                    </div>
                </div>
                <div class="communication-card col-lg-4 col-md-6 mt-4">
                    <div class="communication-image">
                        <img src="https://e7.pngegg.com/pngimages/144/880/png-clipart-website-content-writer-content-writing-services-computer-icons-website-content-writer-writing.png" alt="">
                    </div>
                    <div class="communication-content">
                        <h5>Web Content Writing</h5>
                        <p class="m-0" style="font-size: 15px;">Tell your brand story and cement your positioning with search engin optimization</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="marketing my-5">
        <div class="marketing-heading text-center" style="color:#31286b ;">
            <h3>We Take Content Marketing Very Seriously</h3>
            <h3>Very Seriously</h3>
        </div>
        <div class="marketing-body text-center mt-4">
            <p><strong>Content</strong> is the fuel for your marketing engine, and we are the catalysts who can get
                <br> your ideas in motion!</p>
            <div class="marketing-card-list row my-5">
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png" alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3 text-left">Process Maturity</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png" alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Content Performance</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png" alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Subject Matter Focus</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png" alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Subject Matter Focus</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png" alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Subject Matter Focus</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
                <div class="marketing-card d-flex col-lg-4 col-md-6 col-sm-12">
                    <div class="marketing-image">
                        <img src="https://www.lexiconn.in/wp-content/uploads/2019/06/home-version-one-service-new-icon2.png" alt="">
                    </div>
                    <div class="marketing-content">
                        <h5 class="mx-3">Subject Matter Focus</h5>
                        <p class="content mx-3" style="font-size: 15px;">We have the experts, the platforms, and the
                            <br>processes for large scale content marketing projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio-section my-5">
        <div class="row portfolio-row">
            <div class="col-6">
                <h2>Looking for Content Writing samples?</h2>
                <p class="text-muted">Browse through hundreds of content writing projects and case studies. If you are still unable to find what you are looking for, drop us a line, and we’ll be happy to help.</p>
                <div class="btn">
                    <a href="#" class="portfolio-btn">Portfolio</a>
                </div>
            </div>
            <div class="col-6 image-section">
                <img src="https://www.lexiconn.in/wp-content/uploads/2021/02/writing-samples.png" alt="" class="section-image">
            </div>
        </div>
    </section>
    <section class="my-5">
        <app-carousel></app-carousel>
    </section>
    <section class="my-5">
        <app-testimonials></app-testimonials>
    </section>
</div>

<section class="portfolio-section my-5">
    <div class="row m-0">
        <div class="col-2"></div>
        <div class="col-8" style="text-align: center;">
            <div class="row career-heading" style="justify-content: center;">
                <h2>Rewarding Careers for Content Writers</h2>
            </div>
            <div class="row">
                <p class="text-muted">If you are looking for a rewarding career in content, and wish to grow with an organization that values and encourages talent, you should definitely know more about…
                </p>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="btn career-btn">
                    <a href="#" class="portfolio-btn">Life at Lexiconn</a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</section>

<section style="background: linear-gradient(to right, #fa7c41 0%, #ff6565 100%);">
    <div class="container">
        <div class="row heading-tag">
            <div class="col-12">
                <h1 class="my-4">Get In Touch</h1>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-6 mt-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, non fugiat magnam, minus illum architecto reprehenderit quam tempora vero possimus dolores aliquid ipsam aperiam quaerat? Provident veniam sunt id tenetur?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus molestiae tempora, reiciendis hic est vel vitae alias praesentium!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ipsum eaque fugit, nostrum modi cum deserunt magnam nulla blanditiis!</p>
            </div>
            <div class="col-6">
                <form class="form-section">
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" id="exampleInputNumber" placeholder="Phone no">
                    </div>
                    <div class="form-group">
                        <textarea name="text" class="form-control mb-2" id="" cols="30" rows="4" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn form-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

